<div *ngIf="showCreateForm" class="flex justify-center mt-1">
  <app-support-request-form></app-support-request-form>
</div>

<!-- Panel para Asignar Agent -->
<div *ngIf="showAssignPanel" class="flex justify-center mt-1">
  <app-assign-agent-panel></app-assign-agent-panel>
</div>

<div class="bg-white rounded-2xl shadow p-4">
  <div class="flex justify-end items-center p-4 gap-4">
    <input
      type="text"
      placeholder="Search..."
      class="border rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-pink-400"/>

    <!-- Botón para abrir formulario de solicitud -->
    <button
      (click)="onCreateRequestClick()"
      *ngIf="role === 'CUSTOMER' || role === 'ADMIN'"
      class="bg-gradient-to-r from-blue-600 to-purple-600 text-white font-semibold px-5 py-2 rounded-full shadow hover:shadow-lg transform hover:scale-105 transition-all duration-300">
      + Solicitude
    </button>

    <!-- Botón para abrir panel de asignación de agente (solo ADMIN) -->
    <button
      (click)="toggleAssignPanel()"
      *ngIf="role === 'ADMIN'"
      class="bg-gradient-to-r from-green-600 to-emerald-500 text-white font-semibold px-5 py-2 rounded-full shadow hover:shadow-lg transform hover:scale-105 transition-all duration-300">
      + Assign
    </button>
  </div>

  <!-- Tabla de solicitudes -->
  <div class="w-full overflow-x-auto">
    <table class="w-full table-auto rounded-2xl overflow-hidden text-left">
      <thead class="bg-gradient-to-r from-pink-500 to-orange-500 text-white">
      <tr>
        <th class="py-3 px-4">ID</th>
        <th class="py-3 px-4">Title</th>
        <th class="py-3 px-4">Description</th>
        <th class="py-3 px-4">Request Type</th>
        <th class="py-3 px-15">Status</th>
        <th class="py-3 px-4">Created At</th>
        <th *ngIf="role === 'ADMIN' || role === 'AGENT'" class="py-3 px-4">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests" class="border-b hover:bg-gray-50 transition duration-300">
        <td class="py-3 px-4">{{ request.id }}</td>
        <td class="py-3 px-4">{{ request.title }}</td>
        <td class="py-3 px-4">{{ request.description }}</td>
        <td class="py-3 px-4">{{ request.requestType }}</td>
        <td class="py-3 px-4 flex items-center h-[42px]">
          <ng-container *ngIf="role === 'ADMIN' || role === 'AGENT'; else customerView">
            <select class="border rounded-full px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400"
                    [value]="request.requestStatus"
                    (change)="onStatusChange(request.id, $any($event.target).value)">
              <option>PENDING</option>
              <option>IN_PROGRESS</option>
              <option>COMPLETED</option>
            </select>
          </ng-container>
          <ng-template #customerView>
            <div class="text-sm font-semibold py-1 px-10">
              {{ request.requestStatus }}
            </div>
          </ng-template>
        </td>
        <td class="py-3 px-4 whitespace-nowrap">{{ request.createdAt | date:'yyyy-MM-dd'}}</td>
        <td *ngIf="role === 'ADMIN' || role === 'AGENT'" class="py-3 px-4">
          <button (click)="updateStatus(request.id)" class="rounded-full bg-blue-500 text-white text-sm px-3 py-1 hover:bg-blue-600">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [first]="currentPage * rows"
    (onPageChange)="onPageChange($event)"
    styleClass="rounded-full shadow-lg mt-4">
  </p-paginator>
</div>
