<div class="max-w-6xl mx-auto px-4 py-10">
  <div class="overflow-x-auto shadow-2xl rounded-2xl border border-gray-200 bg-white">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
      <thead class="bg-gradient-to-r from-pink-500 to-orange-500 text-white uppercase text-xs">
      <tr>
        <th class="px-6 py-3 text-left">#</th>
        <th class="px-6 py-3 text-left">Support ID</th>
        <th class="px-6 py-3 text-left">Title</th>
        <th class="px-6 py-3 text-left">Status</th>
        <th class="px-6 py-3 text-left">Assigned At</th>
        <th class="px-6 py-3 text-left">Last Update</th>
        <th class="px-6 py-3 text-center">Details</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
      <tr *ngFor="let assignment of assignments; let i = index" class="hover:bg-gray-50">
        <td class="px-6 py-4 font-medium">{{ i + 1 }}</td>
        <td class="px-6 py-4">{{ assignment.supportRequestDTO?.id || 'N/A' }}</td>
        <td class="px-6 py-4">{{ assignment.supportRequestDTO?.title || 'N/A' }}</td>
        <td class="px-6 py-4">
          <span
            [ngClass]="{
              'bg-yellow-100 text-yellow-800': assignment.supportRequestDTO?.status === 'PENDING',
              'bg-orange-100 text-orange-800': assignment.supportRequestDTO?.status === 'IN_PROGRESS',
              'bg-green-100 text-green-800': assignment.supportRequestDTO?.status === 'COMPLETED'
            }"
            class="px-3 py-1 rounded-full text-xs font-semibold flex items-center gap-1"
          >
            <span *ngIf="assignment.supportRequestDTO?.status === 'PENDING'">🟡</span>
            <span *ngIf="assignment.supportRequestDTO?.status === 'IN_PROGRESS'">🔴</span>
            <span *ngIf="assignment.supportRequestDTO?.status === 'COMPLETED'">✅</span>
            {{ assignment.supportRequestDTO?.status?.replace('_', ' ') }}
          </span>
        </td>

        <td class="px-6 py-4">{{ assignment.assignedAt | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td class="px-6 py-4">{{ assignment.updatedAt | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td class="px-6 py-4 text-center">
          <button
            (click)="openDetails(assignment)"
            class="flex items-center gap-1 text-indigo-600 hover:underline text-xs font-medium">
            🔍 See Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="assignments?.length === 0" class="text-center text-gray-500 mt-10">
    There are no assignments registered.
  </div>

  <div *ngIf="totalRecords > 0" class="flex justify-center mt-8">
    <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [pageLinkSize]="3"
    [first]="currentPage * rows"
    (onPageChange)="onPageChange($event)">
    </p-paginator>

  </div>



</div>
